name: Hello World Default
on: [workflow_dispatch]
jobs:
  Hello-World-Job:
    # Use the environmet specified in CodeBuild
    runs-on:
      - codebuild-github-runner-codeconnection-test-${{ github.run_id }}-${{ github.run_attempt }}
    defaults:
      run:
        shell: bash
    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main

      # Testing
      # --load is required in docker build, or push to ECR and run from ECR
      - run: |
          echo "Hello World"
          ls -la
          docker build -t helloworld --load ./helloworld 
          docker run helloworld echo "Hello, World from github action workflow!"
          docker images
