name: Hello World Custom Public Image
on: [workflow_dispatch]
jobs:
  Hello-World-Job:
    # Use the environmet specified in CodeBuild
    runs-on:
      - codebuild-github-runner-codeconnection-test-${{ github.run_id }}-${{ github.run_attempt }}
        image:public.ecr.aws/codebuild/amazonlinux2-x86_64-standard:corretto11
    defaults:
      run:
        shell: bash
    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main

      # Testing
      - name: check_folder
        run: |
          echo "Hello World"
          echo "Running on ${{ vars.CODEBUILD_RUNNER }}" 
          ls -la
          docker image ls
          cat /etc/os-release
